:root {
  --color-primary-blue: #1e7dff;
  --color-secondary-blue: #005fff;
  --color-alert: #ff4242;
  --color-disable: #b8b8b8;
  --color-black: #141414;
  --color-darkgray: #292929;
  --color-darkgray2: #484848;
  --color-darkgray3: #6b6b6b;
  --color-gray: #939393;
  --color-gray2: #b8b8b8;
  --color-lightgray: #dadada;
  --color-lightgray2: #eee;
  --color-white: #fff;
  --color-channel-white: #f6f6f6;
  --color-transparent: transparent;
  --color-yellow: #ffc907;
  --color-red: #ff003f;
  --color-warning: #ff7a00;
  --color-complete: #00ff19;

  --track-width: 100%;
  --track-height: 10px;
  --track-radius: 5px;
  --thumb-width: 16px;
  --thumb-height: 16px;
  --thumb-radius: 50%;
}
