@use 'sass:math';

$track-color: #dadada;
$track-width: 100%;
$track-height: 10px;
$track-radius: 5px;

$thumb-color: #1e7dff;
$thumb-width: 20px;
$thumb-height: 20px;
$thumb-radius: 50%;

$contrast: 5% !default;

@mixin track-default {
  cursor: pointer;
  width: $track-width;
  height: $track-height;
  transition: all 0.2s ease;
}

@mixin thumb-default {
  background-color: $thumb-color;
  border: none;
  border-radius: $thumb-radius;
  cursor: pointer;
  width: $thumb-width;
  height: $thumb-height;
}

#player {
  width: 640px;
  position: relative;
}

.kap-player {
  position: relative;
  cursor: pointer;
  background-color: #000;
  min-height: 320px;
  display: flex;
  & video {
    width: 100%;
    z-index: 7777;
    vertical-align: middle;
  }
}

.kap-status-handle-button {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.kap-controls-container {
  & > .kap-progress-bar {
    padding: 0 1em;
    background-color: rgb(210 210 210 / 60%);
  }
  & > .kap-controls {
    background-color: rgb(210 210 210 / 60%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > .kap-controls-left {
      display: flex;
      align-items: center;
    }
    & > .kap-controls-right {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}

// Volume
.kap-control-volume {
  display: flex;
  align-items: center;
}
